<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      
>

  <variable name="logDirectory" value="logs/${shortdate}"/>
  <targets>
    <target   name="logfile" xsi:type="File"
              layout="${longdate} ${newline} ${level:uppercase=true} ${newline} ${message} ${newline} ${exception:format=tostring}"
              fileName="${logDirectory}/log.txt" >

    </target>
    <target name="logfileWarn"
            layout="${longdate} ${newline} ${level:uppercase=true} ${newline} ${message} ${newline} ${exception:format=Message,toString,Data:maxInnerExceptionLevel=10}"
            xsi:type="File" fileName="${logDirectory}/log-warn.txt" >

    </target>
    <target name="logfileClient" xsi:type="File" fileName="${logDirectory}/log-client.txt" >

    </target>
    <target name="logfileClientWarn" xsi:type="File" fileName="${logDirectory}/log-client-warn.txt" >

    </target>
  </targets>

  <rules>
    <logger name="ServerLogging" minlevel="Trace" maxlevel="Info" writeTo="logfile" />
    <logger name="ServerLogging" minlevel="Warn" writeTo="logfileWarn" />
    <logger name="ClinetLogging" minlevel="Trace" maxlevel="Info" writeTo="logfileClient" />
    <logger name="ClinetLogging" minlevel="Warn" writeTo="logfileClientWarn" />
  </rules>
</nlog>